<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dao.FxrateMapper">
  <resultMap id="BaseResultMap" type="Model.Fxrate">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="base" jdbcType="VARCHAR" property="base" />
    <result column="term" jdbcType="VARCHAR" property="term" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
  </resultMap>
  <update id="updateFxRate" parameterType="Model.Fxrate">
    update fxrate
    <set>
      <if test="base != null">base=#{base},</if>
      <if test="term != null">term=#{term},</if>
      <if test="rate != null">rate=#{rate},</if>
      <if test="date != null">date=#{date}</if>
    </set>
    where id=#{id}
  </update>
  <select id="getFxRates" resultType="Model.Fxrate">
    SELECT * FROM fxrate
  </select>

</mapper>